.sub-pages-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
    text-align: center;
  
    h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      color: #333;
    }
  
    button {
      padding: 10px 20px;
      margin: 10px;
      font-size: 1.2rem;
      color: white;
      background-color: #007bff; // Color de fondo de los botones
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #0056b3; // Color al pasar el mouse
      }
    }
  
    .selected {
      background-color: #0056b3; // Color del botón seleccionado
      pointer-events: none; // Deshabilita el clic en el botón seleccionado para evitar múltiples selecciones
    }
  
    p {
      margin-top: 20px;
      font-size: 1.2rem;
      color: #555;
      max-width: 600px;
    }
  }
  