@charset "UTF-8";
/* Ocultar barra lateral */
body::-webkit-scrollbar {
  display: none;
}

.home-div-body {
  /* Fondo principal */
  /* Bienvenida */
  /* Cards */
  /* Para dispositivos móviles */
  /* Para dispositivos móviles */
  /* Rutas de login y registro */
  /* Todos footer   */
  /* Responsive */
}
.home-div-body main {
  background-image: url("../../assets/pages/4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
}
.home-div-body .welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: #f8fafc;
  position: relative;
  z-index: 0;
}
.home-div-body .welcome h1 {
  font-size: 10vw;
  color: #f8fafc;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
.home-div-body .welcome .blur {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  padding: 2rem;
  border-radius: 8px;
  margin: 30px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
}
.home-div-body .welcome p {
  margin: 5vw 5vw;
  font-size: 2vw;
  text-align: center;
}
.home-div-body .info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #000;
  width: 100%;
  padding: 250px 20px;
}
.home-div-body .custom-shape-divider-top-1725409287 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
  background-image: url("../../assets/pages/4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 20vh;
}
.home-div-body .custom-shape-divider-top-1725409287 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
  background-color: transparent;
  opacity: 0.8;
}
.home-div-body .custom-shape-divider-top-1725409287 .shape-fill {
  fill: transparent;
}
.home-div-body .triangle-left,
.home-div-body .triangle-right {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 2;
}
.home-div-body .triangle-left {
  left: 0;
  border-width: 0 50vw 60px 0;
  border-color: transparent transparent black transparent;
}
.home-div-body .triangle-right {
  right: 0;
  border-width: 0 0 60px 50vw;
  border-color: transparent transparent black transparent;
}
@media (max-width: 767px) {
  .home-div-body .custom-shape-divider-top-1725409287 svg {
    height: 61px;
  }
  .home-div-body .triangle-left {
    border-width: 0 60vw 60px 0;
  }
  .home-div-body .triangle-right {
    border-width: 0 0 60px 60vw;
  }
}
.home-div-body .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  padding: 2vw;
  margin: 30px 3vw;
  border-radius: 1.5vw;
  border: 2px solid #f8fafc;
  color: #f8fafc;
}
.home-div-body .card strong {
  color: #e6398f;
}
.home-div-body .card-head {
  border-bottom: 2px solid #f8fafc;
  padding: 0 1vw;
  text-align: center;
  letter-spacing: 0.5px;
  margin: 2vw 0;
  font-size: 26px;
  background: linear-gradient(90deg, #7b5bc7 0%, #ea388d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-div-body .card-body li {
  margin: 1.5vw 20px;
}
.home-div-body .contribuir {
  text-align: center;
}
.home-div-body .custom-shape-divider-bottom-1725404578 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.home-div-body .custom-shape-divider-bottom-1725404578 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
}
.home-div-body .custom-shape-divider-bottom-1725404578 .shape-fill {
  fill: #f8fafc;
}
@media (max-width: 767px) {
  .home-div-body .custom-shape-divider-bottom-1725404578 svg {
    height: 80px;
  }
}
.home-div-body .routes {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, rgb(123, 91, 199) 0%, rgb(234, 56, 141) 100%);
  width: 100%;
  padding: 150px 0;
}
.home-div-body .login,
.home-div-body .register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 400px;
  height: 350px;
  border: 2px solid #f8fafc;
  margin: 40px 25px;
  padding: 10px 25px;
  border-radius: 5px;
  color: #f8fafc;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.6);
  transition: all 600ms ease;
}
.home-div-body .login:hover,
.home-div-body .register:hover {
  transform: scale(1.1);
}
.home-div-body .routes h2 {
  margin: 20px 0;
  border-bottom: 2px solid #000;
  font-size: 25px;
}
.home-div-body .routes p {
  margin: 10px 0;
  font-size: 20px;
}
.home-div-body .btn-login,
.home-div-body .btn-register {
  background-color: #000;
  color: #f8fafc;
  padding: 10px 40px;
  border-radius: 50px;
  text-decoration: none;
  margin: 10px 20px;
  transition: all 600ms ease;
}
.home-div-body .btn-login:hover,
.home-div-body .btn-register:hover {
  background-color: #f8fafc;
  color: #000;
  transform: scale(1.1);
}
.home-div-body .btn-login:active,
.home-div-body .btn-register:active {
  transition: all 200ms ease;
  transform: scale(0.9);
}
.home-div-body .footer-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  background-color: #fff;
}
.home-div-body .logo {
  font-size: 30px;
  text-decoration: none;
  color: #7b5bc7;
  font-weight: 900;
}
.home-div-body .name {
  background: linear-gradient(90deg, rgb(20, 152, 235) 1.64%, rgb(150, 45, 227) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .home-div-body .welcome h1 {
    font-size: 15vw;
  }
  .home-div-body .copy {
    display: none;
  }
  .home-div-body .welcome p {
    font-size: 4vw;
    margin: 4vw 2vw;
  }
  .home-div-body .card {
    min-width: 250px;
    padding: 3vw;
    margin: 35px 1.5vw;
  }
  .home-div-body .card-head {
    padding: 0 0.5vw;
    margin: 1.5vw 0;
  }
}
@media (max-width: 955px) {
  .home-div-body .routes {
    flex-direction: column;
  }
}/*# sourceMappingURL=home.css.map */