#dashboard {
  background: linear-gradient(180deg, #b5d3ff, #ffeffc);
  display: flex;
  flex-direction: column;
  gap: 150px;
  padding-bottom: 100px;
}

#dashboard section {
  width: 100%;
  min-height: 100vh;
}
